h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}
#firstpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#author {
    text-align: center;
    font-style: italic;
}
#firstQuote {
    text-align: center;
    border: 5px solid greenyellow;
}
#secondQuote {
    border: 5px solid saddlebrown;
    border-radius: 50%;
    text-align: center;
}
.row {
    display: flex;
}
#python {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#java {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#cpp {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}